
<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>
<%= notice%>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private == true%>
          Yes
          <%else %>
          No
          <%end %>
        </td>
        <% if @current_user != nil%>
        <td>
          <% matching_followreq = FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id}) 
              the_followreq = matching_followreq.at(0)
              if the_followreq == nil || the_followreq.status == "rejected"
          %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id%>">
              <button>
                Follow
              </button>
            </form>
            <%else%>
            <% if the_followreq.status == "pending"%>

            Request sent.

            <a href="/delete_follow_request/<%= the_followreq.id %>">
              Cancel
            </a>
            <% elsif the_followreq.status == "accepted" %>
            <a href="/delete_follow_request/<%= the_followreq.id %>">
              Unfollow
            </a>
            <%end%>
            <%end%>
      </td>
      <%end%>
        <td>
        <%if the_followreq == nil || the_followreq.status != "accepted"%>
          <% if a_user.private == true %>

          <a href="/users">
            Show details
            <% flash[:notice] = "You're not authorized for that."%>
          </a>
            <% else%>
            <a href="/users/<%= a_user.username %>">  
            Show details
          </a>
          <%end%>

        <%else%>
          <a href="/users/<%= a_user.username %>">
            Show details
          </a>
        <%end%>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
