
<div>
  <div>
    <h1>
       <%= @the_user.username %> 
    </h1>

    <dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %> </dd>

  <dt>Followers</dt>
  <dd>
    <% follower_count = 0 %>
  <% @the_user.follower_requests.each do |a_request|
          
        if a_request.status == "accepted"
            follower_count = follower_count + 1
          end
          end
        %>
        <%= follower_count%>

<%if @current_user.id == @the_user.id%>

<h4>Pending follow requests</h4>

      <ul>
      <% unfollowed =  FollowRequest.where({ :recipient_id => @the_user.id, :status => "pending"})
       unfollowed.each do |a_follow|
        matching_user = User.where({ :id => a_follow.sender_id })%>
        <li>
          <%= matching_user.at(0).username %>
        </li>
        <%end%>
      </ul>

<dt>Edit user</dt>
  <dd>
    <form action="/modify_user" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..."
        value="<%= @current_user.username%>">

      <label for="browser_private">Private?</label>
      <input id="browser_private" type="checkbox" name="query_private" >

      <button>Update user</button>
    </form>
  </dd>

<% else%>

<% matching_followreqs = FollowRequest.where({:sender_id => @current_user.id, :recipient_id => @the_user.id, :status => "accepted"})
    the_followreq = matching_followreqs.at(0)
  if the_followreq != nil %>

<div>
          <a href="/delete_follow_request/<%= the_followreq.id %>">
              Unfollow
            </a>
    </div>

<%else %>

      <div>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="query_recipient_id" value="<%= @the_user.id%>">

            <button>
              Follow
            </button>
          </form>
    </div>
    <% end%>
<% end%>
  </dd>

  <dt>Following</dt>
  <dd> 
    <% following = FollowRequest.where({ :sender_id => @the_user.id, :status => "accepted"})%>
    <%= following.count%>

</dl>


<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%=@the_user.photography.count%>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>
<% @the_user.photography.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%= a_photo.image %>" class="img-responsive">
        </td>

        <td>
          <%= @the_user.username %>
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
</table>

  </body>